body {
    background: #1C1C1C;
    color: #D5D4D8;
}

h1 {
    color: #F3F4F6;
    margin: 0 0 5px 0 ;
}

p {
    margin: 0 0 20px 0;
}

button {
    background-color: #10B981;
    color: #F3F4F6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 800px;
    margin: 0 auto;
    background-color: #1F2937;
    border-radius: 10px;
}

#divider {
    display: flex;
    align-items: start;
    margin:  40px 30px;
    padding: 20px 0;
    border-bottom: 1px solid #374151;
}

.header  {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 300px;
    margin: 0 auto;
    background-color: #1F2937;
    border-radius: 10px;
}

#passwords {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    text-align: center;
    background: #273549;
    color: #10B981;
    width: 180px;
    height: 30px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}